<header id="portfolio" class="w3-content " style="max-width:1400px; margin-top:80px">
    <div class="w3-container ">
    <h1>Espace</h1>
    <div class="w3-section w3-bottombar ">
        <nav class="navbar navbar-expand-lg ">
         <!-- navbar -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 " style="padding-left: 78px;">
                  <li class="nav-item">
                    <a class="nav-link " style="font-family:'Poppins', sans-serif;font-size: 20px; color: #493ea2 ;">Department </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="ListModule" style="font-family:'Poppins', sans-serif;font-size: 20px; color: #493ea2;">/ Module</a>
                  </li>
                </ul> 
          </nav>
          <!-- Navbar -->
    </div>
    </div>
  </header>
  <body>
    <div class="container" >
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-7 " style="color:black"><h2>Department <b>Details</b></h2></div>
                        <div class="col-sm-2">
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input [(ngModel)]="searchDepart" type="text" class="form-control" placeholder="Search&hellip;">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-secondary px-5 py-1" (click)="GoToAddDepartement()"><span class="bi bi-plus "></span>Add Departement</button> 
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Id <i class="fa fa-sort"></i></th>
                            <th>Department Name <i class="fa fa-sort"></i></th>
                            <th>Bloc <i class="fa fa-sort"></i></th>
                            <th>Modules <i class="fa fa-sort"></i></th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let depart of search()">
                            <td>{{depart.idDepart}}</td>
                            <td>{{depart.nomDepart}}</td>
                            <td>{{depart.bloc}}</td>
                            <td >
                                <tr *ngFor="let mod of depart.modules">{{mod.nomModule}}</tr>
                            </td>
                            <td colspan="1">
                             
                                <div class="d-flex">
                                    <button type="button" class="btn btn-primary px-2 "><span class="bi bi-eye-fill"></span></button>
                                    <button type="button" [routerLink]="['UpdateDepartement',0]"  class="btn btn-warning px-2 mx-1"><span class="bi bi-pencil-fill"></span></button>
                                    <button type="button" class="btn btn-danger px-2 mx-1" data-target="#myModal" data-toggle="modal" (click)="getIdToDelete(depart.idDepart)"><span class="bi bi-trash"></span></button>
                                </div>  
                                
                                </td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>  
    </div> 
  
</body>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete Esprit Universite </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="deleteDepart()" >Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
