<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>id_Event <i class="fa fa-sort"></i></th>
            <th>Event name</th>
            <th>Event Date <i class="fa fa-sort"></i></th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let evenement of Listevent">
            <td>{{evenement.idEvenement}}</td>
            <td>{{evenement.nomEvenement}}</td>
            <td>{{evenement.dateEvenement}}</td>
            <td>{{evenement.emplacementEvenement}}</td>
          
            <td>
              
                <button type="button" class="btn btn-warning px-2 mx-1" (click)="GoToUpdateEvenement(evenement.idEvenement)"><span class="bi bi-pencil-fill"></span></button>
                <button type="button" class="btn btn-danger px-2 mx-1" data-target="#myModal" data-toggle="modal" (click)="getIdToDelete(evenement.idEvenement)" ><span class="bi bi-trash"></span></button>
            </td>
        </tr>    
    </tbody>
</table>