<section class="colorRegister">
    <div class="sigupbloc" >
                        <div class="row no-gutters">
                        <div class="col-md-10 offset-md-1">
                                
    
                            <section id="portfolio" class="w3-content " style="max-width:1500px; margin-top:80px">
                                <div class="w3-container ">
                                <h1  class="style-4 menu-4">student module</h1>
                                <div class="w3-section w3-bottombar ">
                                </div>
                                </div>
                            </section>
                          
                          
                            <section  class="d-flex">
                             <!--1 ere colonne pour la formulaire-->
                            <div class="col-md-6 offset-md-1 ">
                             <form [formGroup]="AddFormEtudiant" class="row g-3">


                            <!--first name-->
                              <div class="row  ">
                                <div class="col-md-6 "  >

                                  <label for="validationServer01" class="form-label font-weight-bold" style="font-size:20px;">First name</label>
                                  <input type="text" class="form-control " id="validationServer01" value="" style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:12px;" placeholder="First Name" formControlName="nomE">
                              
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('nomE')?.touched && AddFormEtudiant.get('nomE')?.errors?.['required']">
                                    <p  [ngStyle]="{'color':style1,'font-weight':style2,'font-size':style3}">First name is required ! </p>
                                  </div>
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('nomE')?.touched && AddFormEtudiant.get('nomE')?.errors?.['pattern']">
                                    <p  [ngStyle]="{'color':style1,'font-weight':style2,'font-size':style3}">First name must be with Only Characters ! </p>
                                  </div>
                                 </div>


                            <!--last name-->
                                <div class="col-md-6 ">
                                  <label for="validationServer02" class="form-label font-weight-bold" style="font-size:20px;">Last name</label>
                                  <input type="text" class="form-control " id="validationServer02" value="Otto"  style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:12px;"placeholder="Last Name" formControlName="prenomE" >
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('prenomE')?.touched && AddFormEtudiant.get('prenomE')?.errors?.['required']">
                                    <p [ngStyle]="{'color':style1,'font-weight':style2,'font-size':style3}">Last name is required ! </p>
                                  </div>
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('prenomE')?.touched && AddFormEtudiant.get('prenomE')?.errors?.['pattern']">
                                    <p [ngStyle]="{'color':style1,'font-weight':style2,'font-size':style3}">Last name must be with Only Characters ! </p>
                                  </div>
                                </div>
                                </div>

                           


                            <!--email-->
                              <div class="row">
                                <div class="col-md-12" >
                                  <label for="validationServer03" class="form-label font-weight-bold" style="font-size:20px;">Email</label>
                                  <input type="text" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback"  style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:12px;"placeholder="Email" formControlName="email">
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('email')?.touched && AddFormEtudiant.get('email')?.errors?.['required']">
                                    <p [ngStyle]="{'color':style1,'font-weight':style2,'font-size':style3}">Email is required ! </p>
                                  </div>
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('email')?.touched && AddFormEtudiant.get('email')?.errors?.['email']">
                                    <p [ngStyle]="{'color':style1,'font-weight':style2,'font-size':style3}"> Please select a valid email ! </p>
                                  </div>
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('email')?.valid">
                                    <p [ngClass]="'greenAlert'"> your email is valid ! </p>
                                  </div>
                                </div>
                               </div>
                         


                            
                              <!-- phone number -->
                               <div class="row">
                                <div class="col-md-6 "  >
                                  <label for="validationServer04" class="form-label font-weight-bold" style="font-size:20px;">Phone Number</label>
                                  <input type="text" class="form-control " id="validationServer04" value="Mark" style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:15px;border-radius:12px;"placeholder="Phone Number"  formControlName="numeroTelephone">
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('numeroTelephone')?.touched && AddFormEtudiant.get('numeroTelephone')?.errors?.['required']">
                                    <p [ngClass]="'redAlert'"> Phone Number is required ! </p>
                                  </div>
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('numeroTelephone')?.touched && AddFormEtudiant.get('numeroTelephone')?.errors?.['minlength']">
                                    <p [ngClass]="'redAlert'">Your Phone Number Must be 8 characters long! </p>
                                  </div>
                                </div>


                                <!-- adress -->
                                <div class="col-md-6 ">
                                  <label for="validationServer05" class="form-label font-weight-bold" style="font-size:20px;">Adress</label>
                                  <input type="text" class="form-control " id="validationServer05" value="Otto"  style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:15px;border-radius:12px;" placeholder="Adress"  formControlName="adresse">
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('adresse')?.touched && AddFormEtudiant.get('adresse')?.errors?.['required']">
                                    <p [ngClass]="'redAlert'">Adress is required !</p>
                                  </div>
                                </div>
                               </div>


                                <!-- age -->
                               <div class="row">
                                <div class="col-md-3 ">
                                  <label for="validationServer06" class="form-label font-weight-bold" style="font-size:20px;">Age</label>
                                  <input type="text" class="form-control " id="validationServer06" value="Otto"  style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:15px;border-radius:12px;" placeholder=" Age"  formControlName="age">
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('age')?.touched && AddFormEtudiant.get('age')?.errors?.['required']">
                                    <p [ngClass]="'redAlert'">Age is required !</p>
                                  </div>
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('age')?.touched && AddFormEtudiant.get('age')?.errors?.['max']">
                                    <p [ngClass]="'redAlert'">max Age is 100 !</p>
                                  </div>
                                </div>
                              </div>

                                <!-- niveau -->
                                <div class="row">
                                <div class="col-md-4">
                                  <label for="validationServer07" class="form-label font-weight-bold" style="font-size:20px;">Level</label>
                                  <select class="form-select " id="validationServer07" aria-describedby="validationServer07Feedback"  style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:12px;"  formControlName="niveauEtudiant">
                                    <option selected disabled value="">Choose level</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('niveauEtudiant')?.touched && AddFormEtudiant.get('niveauEtudiant')?.errors?.['required']">
                                    <p [ngClass]="'redAlert'">Level is required !</p>
                                  </div>
                                </div>
                            


                                 <!-- option -->
                                 <div class="col-md-4">
                                  <label for="validationServer08" class="form-label font-weight-bold" style="font-size:20px;">Option</label>
                                  <select class="form-select " id="validationServer08" aria-describedby="validationServer04Feedback"  style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:12px;" formControlName="option" >
                                    <option selected disabled value="">Choose Option</option>
                                    <option>GAMIX</option>
                                    <option>SE</option>
                                    <option>SIM</option>
                                    <option>NIDS</option>
                                    <option>TWIN</option>
                                    <option>INFINI</option>
                                    <option>BI</option>
                                  </select>
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('option')?.touched && AddFormEtudiant.get('option')?.errors?.['required']">
                                    <p [ngClass]="'redAlert'">option is required !</p>
                                  </div>
                                </div>


                                 <!-- classe -->
                                <div class="col-md-4 ">
                                  <label for="validationServer09" class="form-label font-weight-bold" style="font-size:20px;">Class</label>
                                  <input type="text" class="form-control " id="validationServer09" value="Otto"  style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:12px;" placeholder="Class" formControlName="classe" >
                                  <div class="alertText" *ngIf="AddFormEtudiant.get('classe')?.touched && AddFormEtudiant.get('classe')?.errors?.['required']">
                                    <p [ngClass]="'redAlert'">class is required !</p>
                                  </div>
                                </div>
                              </div>

                             <!--department-->
                              <div class="row">
                              <div class="col-md-4">
                                <label for="validationServer10" class="form-label font-weight-bold" style="font-size:20px;">Department</label>
                                <select class="form-select " id="validationServer10" aria-describedby="validationServer04Feedback"  style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:12px;" #nomDepart required >
                                  <option selected disabled value="">Choose Department</option>
                                  <option *ngFor="let depart of listDepartments" [value]="depart.nomDepart">{{depart.nomDepart}} </option>
                                </select>
                              </div>

                            
                                <div class="col-4 offset-md-4">
                                  <button class="btn btn-primary mt-5 px-5 "  style="background-color: #493ea2;" (click)="AddEtudiant(nomDepart.value) "><span class="bi bi-plus "></span>Add Student</button> 
                                  
                                </div>
                         



                            </div>

                              </form>
                          


                    

                            <!-- moyenne
                            <div class="row">
                              <div class="col-md-3 ">
                                <label for="validationServer02" class="form-label font-weight-bold" style="font-size:20px;">Moyenne</label>
                                <input type="text" class="form-control" id="validationServer02" value="Otto"  style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:15px;" placeholder="" formControlName="moyenneE"  >
                                <div class="valid-feedback">
                                  Looks good!
                                </div>
                               </div>
                            </div> -->

                  
                       
                          </div>

                          
                             <!--2 eme colonne pour l'image-->
                          <div class="col-md-5  ">
                            <img src="assets/images/reg.png" alt="" width="80%" class="img-fluid mx-5 mt-5">
                          </div>
                        </section>


                        </div>
                        </div>
</div>
</section>



