<header id="portfolio" class="w3-content " style="max-width:1600px; margin-top:80px">
    <div class="w3-container ">
    <h1>Espace Equipes</h1>
    <div class="w3-section w3-bottombar ">
    </div>
    </div>
  </header>
  <body>
    
    <div class="container-fluid" style="max-width: 1500px; background-color: white;">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8 "><h2>Customer <b>Details</b></h2></div>
                        <div class="col-sm-2">
                            
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" class="form-control"  [(ngModel)]="searchEquipe" placeholder="Search&hellip;">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-secondary px-5 py-1" (click)="addEquipe()"><span class="bi bi-plus "></span>Add Equipe</button> 
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Id Equipe</th>
                            <th>Name</th>
                            <th>Score</th>
                            <th>Id Responsable</th>
                            <th>Niveau</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let equipe of search()">
                            <td>{{equipe.idEquipe}}</td>
                            <td>{{equipe.nomEquipe}}</td>
                            <td>{{equipe.score}}</td>
                            <td>{{equipe.responsable}}</td>
                            <td>{{equipe.niveau}}</td>
                            <td colspan="2">                       
                                <div class="d-flex">
                                    <button type="button" class="btn btn-primary px-2 py-1" (click)="membres(equipe.idEquipe)"><span class="bi bi-eye-fill"></span> Membres</button>
                                    <button type="button" class="btn btn-warning px-2 mx-1"><span class="bi bi-pencil-fill" (click)="GoToUpdateEquipe(equipe.idEquipe)"></span></button>
                                    <button type="button" class="btn btn-danger px-2 mx-1" data-target="#myModal" data-toggle="modal" (click)="getIdEquipe(equipe.idEquipe)"><span class="bi bi-trash"></span></button>
                                </div>  
                            </td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>  
    </div> 
    </body>

    <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this Team</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteEquipe()">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    
