<header id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
    <div class="w3-container ">
    <h1>Espace Equipes</h1>
    <div class="w3-section w3-bottombar ">
        <nav class="navbar navbar-expand-lg ">
         <!-- navbar -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 " style="padding-left: 78px;">
                  <li class="nav-item">
                    <a class="nav-link " href="#" style="font-family:'Poppins', sans-serif;font-size: 20px; color: #493ea2 ;">Dashboard </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style="font-family:'Poppins', sans-serif;font-size: 20px; color: #493ea2;">/ Team</a>
                  </li>
                </ul> 
          </nav>
          <!-- Navbar -->
    </div>
    </div>
  </header>
  <body>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8 "><h2>Customer <b>Details</b></h2></div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary btn-sm" (click)="addEquipe()">ADD Equipe</button>
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" class="form-control" placeholder="Search&hellip;">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Id Equipe</th>
                            <th>Name</th>
                            <th>Score</th>
                            <th>Id Responsable</th>
                            <th>Niveau</th>
                            <th>Membres Equipe</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let equipe of listEquipe">
                            <td>{{equipe.idEquipe}}</td>
                            <td>{{equipe.nomEquipe}}</td>
                            <td>{{equipe.score}}</td>
                            <td>{{equipe.responsable}}</td>
                            <td>{{equipe.niveau}}</td>
                            <td>
                                <a routerLink="listMembres" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                            </td>
                            <td>
                                <a [routerLink]="['updateEquipe',0]" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <button class="delete" title="Delete" data-toggle="tooltip" data-target="#myModal" (click)="getIdEquipe(equipe.idEquipe)" data-toggle="modal"><i class="material-icons">&#xE872;</i></button>
                            </td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>  
    </div> 
    
    </body>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete Esprit Universite </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteEquipe()">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
