<section class="colorRegister">
    <div class="sigupbloc" >
                        <div class="row no-gutters">
                        <div class="col-md-10 offset-md-1">
                                
    
                            <section id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
                                <div class="w3-container ">
                                <h1>Espace Module</h1>
                                <div class="w3-section w3-bottombar ">
                                </div>
                                </div>
                            </section>
                          
                          
                            <section  class=" w3-content  offset-md-2 ">

                             <form class="row g-3" [formGroup]="myFormM" >

                              <div class="row"  >
                                <div class="col-md-4"  >
                                  <label for="validationServer01" class="form-label font-weight-bold" style="font-size:20px;">Module name</label>
                                  <input type="text" class="form-control " id="validationServer01" formControlName="moduleNom" style=" border:3px solid #493ea2;height:50px;font-size:18px;" formControlName="moduleNom"  [(ngModel)]="module.nomModule">
                                  <div class="alertText" *ngIf="myFormM.get('moduleNom')?.touched && myFormM.get('moduleNom')?.errors?.['required']">
                                    <p class="text-danger">Please enter the module name to continue !</p>
                                </div>
                                </div>   
                              </div>
                                
                              <div class="row"  >
                                <div class="col-md-3">
                                  <label for="validationServer04" class="form-label font-weight-bold" style="font-size:20px;">Subject number</label>
                                  <select class="form-select " id="validationServer04" aria-describedby="validationServer04Feedback"  style=" border:3px solid #493ea2;height:50px;font-size:18px;" formControlName="moduleNbr" [(ngModel)]="module.nbrMatieres">
                                    <option selected disabled value="">Choose a number</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                  </select>
                                  <div class="alertText" *ngIf="myFormM.get('moduleNbr')?.touched && myFormM.get('moduleNbr')?.errors?.['required']">
                                    <p class="text-danger">Please enter the number to continue !</p>
                                </div>
                                  <div id="validationServer04Feedback" class="invalid-feedback">
                                    Please select a valid number.
                                  </div>
                                </div>
                              </div>

                              <div class="row"  >
                                <div class="col-md-4">
                                  <label for="validationServer04" class="form-label font-weight-bold" style="font-size:20px;">Department name</label>
                                  <select class="form-select " id="validationServer04" aria-describedby="validationServer04Feedback"  style=" border:3px solid #493ea2;height:50px;font-size:18px;" formControlName="DepartmentNom" required #nomDep>
                                    <option selected disabled value="">Choose a Department name</option>
                                    <option *ngFor="let item of ListDep" [value]="item.nomDepart">{{item.nomDepart}}</option>
                         
                                  </select>
                                  <div class="alertText" *ngIf="myFormM.get('DepartmentNom')?.touched && myFormM.get('DepartmentNom')?.errors?.['required']">
                                    <p class="text-danger">Please enter the Department name to continue !</p>
                                </div>
                                  <div id="validationServer04Feedback" class="invalid-feedback">
                                    Please select a valid Department name.
                                  </div>
                                </div>
                              </div>


                                
                                <div class="col-12">
                                  <button class="btn btn-primary" type="submit" (click)="AddMod(nomDep.value)">Add</button>
                                </div>
                              </form>
                            </section>
       
                        </div>
                        </div>
</div>
</section>



