<header id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
    <div class="w3-container ">
        <h1 class="style-4 menu-4">University Module</h1>
        <div class="w3-section w3-bottombar ">
        </div>
    </div>
</header>

<body>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">

                        <div class="col-sm-7 " style="color: black;"><h2 style="color:#e67e22">University <b style="color:#493ea2">Details</b></h2></div>
                        <div class="col-sm-2">

                        </div>

                        <div class="col-sm-3">
                        <button type="button" class="btn btn-secondary px-5 py-1" routerLink="addUniversite" ><span class="bi bi-plus "></span>Add University</button> 
                        </div>
                    </div>
                </div>
                <app-universite-list [UnivList]="UniversiteList" (getAllDeptEvent)="getAllDepartment()" (getIdUniversiteEvent)="getIdUniversite($event)" (upEvent)="up($event)" ></app-universite-list>
            </div>
        </div>
    </div>

</body>






<!---------------------------------------------------Delete Modal----------------------------------------------------->

<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete</h5>

            </div>
            <div class="modal-body">
                <p>Click confirm to delete</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>






<!---------------------------------------------------Details Modal----------------------------------------------------->


<div class="modal fade" id="myModall">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADD Department</h5>

            </div>
            <div class="modal-body">
                <label for="validationServer03" class="form-label font-weight-bold" style="font-size:20px;">Department
                    Name</label>
                <select class="form-select " id="validationServer04" aria-describedby="validationServer04Feedback"
                    style=" border:3px solid #493ea2;height:50px;font-size:18px;" required #idDepart>
                    <option selected disabled value="">Choose...</option>
                    <option *ngFor="let departement of listDepartment" [value]="departement.idDepart"> {{departement.nomDepart}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addDepartToUniv(idDepart.value)">Save</button>
            </div>
        </div>
    </div>
</div>

<!----------------------------Children componant------------------------------------->

<app-universite-form-update (updateEvent)="update($event)"></app-universite-form-update>