<header id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
    <div class="w3-container ">
    <h1>Espace Enseignant</h1>
    <div class="w3-section w3-bottombar ">
    </div>
    </div>
  </header>
<form formGroupeName="myforme" class="container">
    <!--Nom Enseignant-->
    <div class="form-group">
      <label>Nom Enseignant</label>
      <input name="nomEnseignant" type="text" class="form-control" id="fn" formControlName="nomEnseignant">
    </div>
    <!--Prenom Enseignant-->
    <div class="form-group">
      <label>Prenom Enseignant</label>
      <input name="prenomEnseignant" type="text" class="form-control" id="fn" formControlName="prenomEnseignant">
    </div>
     <!--Nom Matiere-->
    <div class="form-group">
      <label>Nom Matiere</label>
      <input name="nomMatiere" type="text" class="form-control" id="fn" formControlName="nomMatiere">
    </div>
     <!--Email-->
    <div class="form-group">
      <label>Email</label>
      <input name="email" type="email"  class="form-control" id="fn" formControlName="email">
    </div>
     <!--Age-->
    <div class="form-group">
      <label>Age</label>
      <input name="age" type="number" class="form-control" id="fn" formControlName="age">
    </div>
     <!--Salaire-->
    <div class="form-group">
      <label>Salaire</label>
      <input name="salaire" type="number" class="form-control" id="fn" formControlName="salaire">
    </div>
     <!--Par Annee-->
    <div class="form-group">
      <label> Experience Par Annee</label>
      <input name="experienceParAnnee" type="number" class="form-control" id="fn" formControlName="experienceParAnnee">
    </div>  
     <!--Submit-->
    <button type="submit" class="btn btn-primary">Confirm</button>
  </form>

