
<body>

<div class="about-section">
  <h1>OUR TEAM</h1>
</div>




<div class="row justify-content-center">
  <div class="col-md-2">
    <div class="card">
      <img src="assets/images/oussama.png" alt="oussma" style="width:100%;">
      <div class="container">
        <h2 style="font-size:25px">Oussama Gadria</h2>
        <p class="title">Web Developer</p>
        <p>oussama.gadria@esprit.tn</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card">
      <img src="assets/images/nour.png" alt="Mike" style="width:100%">
      <div class="container">
        <h2 style="font-size:25px">Nour Makni</h2>
        <p class="title">Web Developer</p>
        <p>nour.makni@esprit.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="col-md-2">
    <div class="card">
      <img src="assets/images/houssem.png" alt="John" style="width:90%;margin-left: 15px;margin-top:15px;">
      <div class="container">
        <h2 style="font-size:25px">Houssem Kharroubi</h2>
        <p class="title">Web Developer</p>
        <p>houssem.kharroubi@esprit.tn</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

    
  <div class="col-md-2">
    <div class="card">
      <img src="assets/images/hamza.png" alt="John" style="width:100%;margin-top:10px;">
      <div class="container">
        <h2 style="font-size:25px">Hamza Hafaiedh</h2>
        <p class="title">Web Developer</p>
        <p>hamza.hafaiedh@esprit.tn</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

    
  <div class="col-md-2">
    <div class="card">
      <img src="assets/images/yasser.png" alt="John" style="width:100%">
      <div class="container">
        <h2 style="font-size:25px">Yasser Ben ouhiba </h2>
        <p class="title">Web developer</p>
        <p>yasser.benouhiba@esprit.tn</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>


</div>

</body>
