<header id="portfolio" class="w3-content " style="max-width:1600px; margin-top:80px">
        <div class="w3-container ">
        <h1 class="style-4 menu-4">Contract Module</h1>
        <div class="w3-section w3-bottombar ">
              <!-- Navbar -->
             <nav class="style-4 navbar-expand-lg">
                <ul class="menu-4">
                <li class="current" ><a data-hover="Student" routerLink="/etudiant/" >Student</a></li>
                <li><a data-hover="Contract" >Contract</a></li>
              </ul>
             </nav>
              <!-- navbar -->
        </div>
        </div>
      </header>



      <body>
        <div class="container-fluid  " style="max-width: 1550px;background-color: white;">
            <div class="table-responsive">
                <div class="table-wrapper">
                   <!-- table title  -->
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8 " style="color: black;"><h2 style="color:#e67e22">Contract <b style="color:#493ea2">Details</b></h2></div>
                        </div>
                    </div>
                    
                    <!-- parent to child de liste contrat vers table contrat -->
                    <app-table-contrat  [listCont]="listContrat" (initTochildEvent)="initTochild($event)"  (getIdToDeletEvent)="getIdContratToDelete($event)" ></app-table-contrat>
                </div>
            </div>  
        </div>    
        </body>
      
    
         <!-- modal delete  -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Delete</h5>
                        
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you to delete ? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteContrat()">Confirm</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <app-update-contrat (updateEvent)="update($event)"></app-update-contrat>
    


