<header id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
    <div class="w3-container ">
    <h1>Espace club</h1>
    <div class="w3-section w3-bottombar ">
        <nav class="navbar navbar-expand-lg ">
         <!-- navbar -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 " style="padding-left: 78px;">
                  <li class="nav-item">
                    <a class="nav-link " href="#" style="font-family:'Poppins', sans-serif;font-size: 20px; color: #493ea2 ;">Dashboard </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style="font-family:'Poppins', sans-serif;font-size: 20px; color: #493ea2;">/ Team</a>
                  </li>
                </ul> 
          </nav>
          <!-- Navbar -->
    </div>
    </div>
  </header>
  <body>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8 " style="color:black"><h2>Club <b>Details</b></h2></div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary btn-sm" (click)="GoToAddClub()" >ADD Club</button>
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" class="form-control" placeholder="Search&hellip;">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>id_club </th>
                            <th>Club Name</th>
                            <th>Manager First Name</th>
                            <th>Manager Last Name</th>
                            <th>Manager Email </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let club of Listclub">
                            <td>{{club.idClub}}</td>
                            <td>{{club.nomClub}}</td>
                            <td>{{this.club.ResponsableClub.prenomE}}</td>
                            <td>.</td>
                            <td>.</td>
                            <td>
                                <a  class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons" (click)="GoToUpdateClub()"  >&#xE254;</i> </a>
                                <a  class="delete" title="Delete" data-toggle="tooltip"   data-target="#myModal"  (click)="getIdToDelete(club.idClub)"  data-toggle="modal"><i class="material-icons">&#xE872;</i></a>
                            </td>
                            <td><button type="button" class="btn btn-primary btn-sm">ADD Event</button></td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>  
    </div> 
    </body>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this club ? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="DeleteClub()" >Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>





    
   