                     <section id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
                              <div class="w3-container ">
                                <h3  class="style-4 menu-4">Update University</h3>
                              <div class="w3-section w3-bottombar ">
                              </div>
                              </div>
                          </section>


<section  class="d-flex">
 <!--1 ere colonne pour la formulaire-->
 <div class="col-md-6 offset-md-1 mt-5">

<form  [formGroup]="myforme"  style="padding-left: 110px;">

  <!--Name of Univerisite-->
    <div class="col-md-6 form-group"  >
      <label  class="form-label font-weight-bold" style="font-size:15px;">Name Universite</label>
      <input name="nomUniversite" type="text" class="form-control "  style=" border:3px solid #493ea2;height:39px;font-size:14px;width:400px; border-radius: 10px;" formControlName="nomUniversite" >
    </div>
    <div class="alertText" *ngIf=" myforme.get('nomUniversite')?.touched && myforme.get('nomUniversite')?.errors?.['required'] ">                                 
       <p class="text-danger">Please enter the name of universite !</p>
    </div>                           
    <div class="col-12">
      <button class="btn btn-primary mt-4 px-5 "  style="background-color: #493ea2;" (click)="upEvent()"><span class="bi bi-plus "></span>Update Universite</button> 

    </div>
</form>
 </div>

 <div class="col-md-5  ">
  <img src="assets/images/update2.png" alt="" width="70%" class="img-fluid mx-5 mt-2">
</div>
</section>