<form  [formGroup]="myforme" (click)="upEvent()" style="padding-left: 110px;">

  <!--Name of Univerisite-->
    <div class="col-md-6 form-group"  >
      <label  class="form-label font-weight-bold" style="font-size:15px;">Name Universite</label>
      <input name="nomUniversite" type="text" class="form-control "  style=" border:2px solid #493ea2;height:39px;font-size:14px;width:400px; border-radius: 10px;" formControlName="nomUniversite" >
    </div>
    <div class="alertText" *ngIf=" myforme.get('nomUniversite')?.touched && myforme.get('nomUniversite')?.errors?.['required'] ">                                 
       <p class="text-danger">Please enter the name of universite !</p>
    </div>                           
    <div class="col-12">
      <button style="background:#493ea2; margin-bottom:15px" class="btn btn-success" type="submit" >Update Universite</button>
    </div>
</form>