<header id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
    <div class="w3-container ">
        <h1  class="style-4 menu-4">Evenement module</h1>
    <div class="w3-section w3-bottombar ">
    </div>
    </div>
  </header>
  <body>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8 " style="color: black;"><h2 style="color:#e67e22">Event <b style="color:#493ea2">Details</b></h2></div>
                  
                        <div class="col-sm-4">
                          
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input [(ngModel)]="searchevenement" type="text" class="form-control" placeholder="Search by event name">
                            </div>
                        </div>
                    </div>
                </div>
               <app-tableevent [Listevent]="Listevenement" (GoToUpdateEvenementevent)="GoToUpdateEvenement($event)" (getIdToDeleteevent)="getIdToDelete($event)"> </app-tableevent>
            </div>
        </div>  
    </div> 
    
    </body>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this event ? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)= "deleteEvenement()" >Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>