<header id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
    <div class="w3-container ">
    <h1>Espace Universite</h1>
    <div class="w3-section w3-bottombar ">
    </div>
    </div>
  </header>
<form formGroupeName="myforme" class="container">
    <!--Nom Enseignant-->
    <div class="form-group">
      <label>Nom Universite</label>
      <input name="nomUniversite" type="text" class="form-control" id="fn" formControlName="nomUniversite">
    </div>
    <!--Prenom Enseignant-->
    <div class="form-group">
      <label>Nom Departement</label>
      <input name="nomDepartement" type="text" class="form-control" id="fn" formControlName="nomDepartement">
    </div>
     <!--Nom Matiere-->
    <div class="form-group">
      <label>Bloc of Department</label>
      <input name="bloc" type="text" class="form-control" id="fn" formControlName="bloc">
    </div>
     <!--Submit-->
    <button type="submit" class="btn btn-primary">ADD</button>
  </form>
