<header id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
    <div class="w3-container ">
    <h1>Espace Enseignant</h1>
    <div class="w3-section w3-bottombar ">
    </div>
    </div>
  </header>
  <body>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8 "><h2>Customer <b>Details</b></h2></div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary btn-sm" routerLink="addEnseignant">ADD Enseignant</button>
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" class="form-control" placeholder="Search&hellip;">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Nom Enseignant <i class="fa fa-sort"></i></th>
                            <th>Prenom Enseignant</th>
                            <th>Nom Matiere <i class="fa fa-sort"></i></th>
                            <th>Email</th>
                            <th>Age <i class="fa fa-sort"></i></th>
                            <th>Salaire</th>
                            <th>experience Par Annee</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Thomas Hardy</td>
                            <td>89 Chiaroscuro Rd.</td>
                            <td>Portland</td>
                            <td>97219</td>
                            <td>USA</td>
                            <td>test</td>
                            <td>
                                <a  class="view" title="View" data-toggle="tooltip"><i class="material-icons" >&#xE417;</i></a>
                                <a  class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons" routerLink="editEnseignant">&#xE254;</i></a>
                                <a  class="delete" title="Delete" data-toggle="tooltip" href="#myModal" data-toggle="modal"><i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>  
    </div> 
    <button></button>  
    </body>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete Esprit Universite </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
