<section class="colorRegister">
    <div class="sigupbloc" >
                        <div class="row no-gutters">
                        <div class="col-md-10 offset-md-1">
                                
    
                            <section id="portfolio" class="w3-content " style="max-width:1500px; margin-top:80px">
                                <div class="w3-container ">
                                <h1 class="style-4 menu-4">Contrat Module</h1>
                                <div class="w3-section w3-bottombar ">
                                </div>
                                </div>
                            </section>
                          
                          
                            <section  class=" d-flex ">

                             <div class="col-md-6 offset-md-1 ">
                             <form #contratForm="ngForm" class="row g-3">
                           
                            <!--date debut contrat-->
                              <div class="row  ">
                                <div class="col-md-6 mt-1"  >
                                  <label for="validationServer01" class="form-label font-weight-bold" style="font-size:20px;"> start Date</label>
                                  <input type="date" class="form-control " id="validationServer01" value="" style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:15px;" placeholder="Date debut contrat" name="dateDebut" [(ngModel)]="contrat.dateDebutContrat" #dateDebut="ngModel" required>
                              
                                  <div class="alertText" *ngIf="dateDebut.touched && dateDebut.errors?.['required']">
                                    <p [ngClass]="'redAlert'" >Start Date is required ! </p>
                                  </div>
                                </div>


                            <!--date fin contrat-->
                                <div class="col-md-6 mt-1">
                                  <label for="validationServer02" class="form-label font-weight-bold" style="font-size:20px;">End Date</label>
                                  <input type="date" class="form-control " id="validationServer02" value="Otto"  style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:15px;"placeholder="Last Name" name="dateFin" [(ngModel)]="contrat.dateFinContrat" #dateFin="ngModel" required>
                                  <div class="alertText" *ngIf="dateFin.touched && dateFin.errors?.['required']">
                                    <p [ngClass]="'redAlert'">End Date is required ! </p>
                                  </div>
                                </div>
                              </div>

                        
                                <!--specialite-->
                                <div class="row">
                                <div class="col-md-6 mt-4">
                                  <label for="validationServer04" class="form-label font-weight-bold" style="font-size:20px;">speciality</label>
                                  <select class="form-select " id="validationServer04" aria-describedby="validationServer04Feedback"  style=" border:3px solid #493ea2;height:50px;font-size:18px;"   name="specialite" [(ngModel)]="contrat.specialite" #specialite="ngModel" required>
                                    <option selected disabled value="">Choose speciality</option>
                                    <option>IA</option>
                                    <option>RESEAUX</option>
                                    <option>CLOUD</option>
                                    <option>SECURITE</option>
                  
                                  </select>
                                  <div class="alertText" *ngIf="specialite.touched && specialite.errors?.['required']">
                                    <p [ngClass]="'redAlert'">speciality is required !</p>
                                  </div>
                                </div>
                              </div>
                                
                            <!--archive-->
                            <div class="row">
                            <div class="col-md-6 mt-4">
                              <div class="form-icon-wrapper">
                                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                                  <label for="validationServer04" class="form-label font-weight-bold mx-2" style="font-size:20px;">Archive</label>

                                    <div class="form-check form-check-inline mb-0 me-4">
                                      <input class="form-check-input" type="radio" id="true"  name="archive" [(ngModel)]="contrat.archive" #archive="ngModel" required value="true"   checked  /> 
                                      <label class="form-check-label font-weight-bold" for="true">true</label>
                                    </div>
                  
                                    <div class="form-check form-check-inline mb-0 me-4">
                                      <input class="form-check-input" type="radio"  id="false"  name="archive" [(ngModel)]="contrat.archive" #archive="ngModel" required value="false"/>
                                      <label class="form-check-label font-weight-bold" for="false">false</label>
                                    </div>                 
                                  </div>                                   
                                <div class="alertText" *ngIf="archive.touched && archive.errors?.['required']">
                                  <p [ngClass]="'redAlert'">Archive is required ! </p>
                                </div>
                              </div>
                            </div>
                          </div>

                             <!--montantC-->
                             <div class="row">
                            <div class="col-md-6 ">
                                    <label for="validationServer02" class="form-label font-weight-bold" style="font-size:20px;">Contract amount</label>
                                    <input type="text" class="form-control " id="validationServer02" value="Otto"  style=" border:3px solid #493ea2;height:50px;font-size:18px;border-radius:15px;"placeholder="montantC" name="montantC" [(ngModel)]="contrat.montantC" #montantC="ngModel" required >
                                    <div class="alertText" *ngIf="montantC.touched && montantC.errors?.['required']">
                                      <p [ngClass]="'redAlert'">Contract amount is required ! </p>
                                    </div>
                            </div>
                           </div>
                           
                           <div class="col-md-6">
                            <button class="btn btn-primary mt-3 px-5" style="background-color: #493ea2;"(click)="AddContrat()"><span class="bi bi-plus "></span>ADD Contrat</button>
                          </div>
                         
                            </form>
                            </div>


                               <!--2 eme colonne pour l'image-->
                          <div class="col-md-5  ">
                            <img src="assets/images/reg.png" alt="" width="80%" class="img-fluid mx-5 mt-4">
                          </div>
                            </section>

                            
                        </div>
                        </div>
</div>
</section>





