<section class="colorRegister">
    <div class="sigupbloc" >
                        <div class="row no-gutters">
                        <div class="col-md-10 offset-md-1">
                                
    
                            <section id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
                                <div class="w3-container ">
                                <h1>Add Equipe</h1>
                                <div class="w3-section w3-bottombar ">
                                </div>
                                </div>
                            </section>
                          
                          
                            <section  class=" w3-content  offset-md-2 ">

                             <form class="row g-3" [formGroup]="myForm">
                                <div class="col-md-4"  >
                                  <label for="validationServer01" class="form-label font-weight-bold" style="font-size:20px;">Equipe Name</label>
                                  <input type="text" class="form-control" style=" border:3px solid #493ea2;height:50px;font-size:18px;" formControlName="fName" required pattern="[a-zA-Z ]*" [(ngModel)]="equipe.nomEquipe">
                                  <div class="alertText" *ngIf="myForm.get('fName').touched && myForm.get('fName').hasError('required')">
                                    <p class="text-danger">this input Name is required</p>
                                  </div>
                                  <div class="alert alert-danger" *ngIf="myForm.get('fName').touched && myForm.get('fName').hasError('pattern')">
                                    Only Characters
                                  </div>
                                </div>



                                <div class="col-md-4">
                                  <label for="validationServer02" class="form-label font-weight-bold" style="font-size:20px;">Score</label>
                                  <input type="number" class="form-control " id="validationServer02" value="Otto"  style=" border:3px solid #493ea2;height:50px;font-size:18px;" formControlName="fScore" required min="0" max="100" [(ngModel)]="equipe.score">
                                  <div class="alertText" *ngIf="myForm.get('fScore').touched && myForm.get('fScore').hasError('required')">
                                    this input Score is required
                                  </div>
                                  <div class="alert alert-danger" *ngIf="myForm.get('fScore').touched && myForm.get('fScore').hasError('min')">
                                    Minimum score is 0
                                  </div>
                                  <div class="alert alert-danger" *ngIf="myForm.get('fScore').touched && myForm.get('fScore').hasError('max')">
                                    Maximum score is 100
                                  </div>
                                </div>



                          
                                <div class="col-md-6">
                                  <label for="validationServer03" class="form-label font-weight-bold" style="font-size:20px;">Responsable</label>
                                  <select class="form-select " id="validationServer04" aria-describedby="validationServer04Feedback"  style=" border:3px solid #493ea2;height:50px;font-size:18px;" formControlName="fResponsable" required #idEnseignant>
                                    <option selected disabled value="">Choose...</option>
                                    <option *ngFor="let enseignant of listEnseignant" [value]="enseignant.idEnseignant">{{enseignant.nomEnseignant}} {{enseignant.prenomEnseignant}}</option>
                                  </select>
                                  <div id="validationServer03Feedback" class="alert alert-danger" *ngIf="myForm.get('fResponsable').touched && myForm.get('fResponsable').hasError('required')">
                                    this input Responsable is required
                                  </div>
                                </div>


                                <div class="col-md-3">
                                  <label for="validationServer04" class="form-label font-weight-bold" style="font-size:20px;">Niveau</label>
                                  <select class="form-select" id="validationServer04" aria-describedby="validationServer04Feedback"  style=" border:3px solid #493ea2;height:50px;font-size:18px;" formControlName="fNiveau" required [(ngModel)]="equipe.niveau">
                                    <option selected disabled value="">Choose...</option>
                                    <option>JUNIOR</option>
                                    <option>SENIOR</option>
                                    <option>EXPERT</option>
                                  </select>
                                  <div id="validationServer04Feedback" class="alert alert-danger" *ngIf="myForm.get('fNiveau').touched && myForm.get('fNiveau').hasError('required')">
                                    this input Niveau is required
                                  </div>
                                </div>


                                


                                
                                <div class="col-12">
                                  <button class="btn btn-primary" type="submit" [disabled]="myForm.invalid" (click)="save(idEnseignant.value)">Submit form</button>
                                </div>
                              </form>
                            </section>
       
                        </div>
                        </div>
</div>
</section>



