<section class="colorRegister">
    <div class="sigupbloc" >
                        <div class="row no-gutters">
                        <div class="col-md-10 offset-md-1">
                                
    
                            <section id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
                                <div class="w3-container ">
                                <h1>Espace Evenement</h1>
                                <div class="w3-section w3-bottombar ">
                                </div>
                                </div>
                            </section>
                          
                          
                            <section  class=" w3-content  offset-md-2 ">

                             <form class="row g-3" [formGroup]="myformeevent">

                                <div class="col-md-7"  >
                                  <label for="validationServer01" class="form-label font-weight-bold" style="font-size:15px;">Event Name</label>
                                  <input type="text" class="form-control " id="validationServer01" formControlName="nomEvenement" value="Mark" style=" border:3px solid #493ea2;height:39px;font-size:15px;width: 400px; border-radius: 10px;" >
                                  <div class="alertText" *ngIf="myformeevent.get('nomEvenement')?.touched && myformeevent.get('nomEvenement')?.errors?.['required']">
                                    <p class="text-danger"> event name is required !</p>
                                </div>
                                </div>



                                <div class="col-md-7">
                                  <label for="validationServer02" class="form-label font-weight-bold" style="font-size:15px;">Event Location</label>
                                  <input type="text" class="form-control " id="validationServer02" formControlName="emplacementEvenement" value="Otto"  style=" border:3px solid #493ea2;height:39px;font-size:15px;width: 400px; border-radius: 10px;" >
                                  <div class="alertText" *ngIf="myformeevent.get('emplacementEvenement')?.touched && myformeevent.get('emplacementEvenement')?.errors?.['required']">
                                    <p class="text-danger">event location is required !</p>
                                </div>
                                </div>



                          
                                <div class="col-md-7">
                                  <label for="validationServer03" class="form-label font-weight-bold" style="font-size:15px;">date</label>
                                  <input type="text" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback"  style=" border:3px solid #493ea2;height:39px;font-size:15px;width: 400px; border-radius: 10px;">
                                  <div id="validationServer03Feedback" class="invalid-feedback">
                                    Please provide a valid city.
                                  </div>
                                </div>


                                
                                <div class="col-12 my-3">
                                  <button class="btn btn-primary" type="submit">Update</button>
                                </div>
                              </form>
                            </section>
       
                        </div>
                        </div>
</div>
</section>





