<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Nom Etudiant</th>
            <th>Prenom Etudiant</th>
            <th>Email</th>
            <th>Numero Tel</th>
            <th>Adresse</th>
            <th>Age</th>
            <th>Classe</th>
            <th>Niveau</th>
            <th>Option Etudiant</th>
            <th>Moyenne</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let etudiant of listEtudiant">
            <td>{{etudiant.nomE}}</td>
            <td>{{etudiant.prenomE}}</td>
            <td>{{etudiant.email}}</td>
            <td>{{etudiant.numeroTelephone}}</td>
            <td>{{etudiant.adresse}}</td>
            <td>{{etudiant.age}}</td>
            <td>{{etudiant.classe}}</td>
            <td>{{etudiant.niveauEtudiant}}</td>
            <td>{{etudiant.option}}</td>
            <td>{{etudiant.moyenneE}}</td>
        </tr>    
    </tbody>
</table>