<section class="colorRegister">
    <div class="sigupbloc" >
                        <div class="row no-gutters">
                        <div class="col-md-10 offset-md-1">
                                
    
                            <section id="portfolio" class="w3-content " style="max-width:1300px; margin-top:80px">
                                <div class="w3-container ">
                                <h1>Update Equipe</h1>
                                <div class="w3-section w3-bottombar ">
                                </div>
                                </div>
                            </section>
                          
                          
                            <section  class=" w3-content  offset-md-2 ">

                             <form class="row g-3" #f="ngForm">

                                <div class="col-md-4"  >
                                  <label for="validationServer01" class="form-label font-weight-bold" style="font-size:20px;">Equipe Name</label>
                                  <input type="text" class="form-control " id="validationServer01" value="Mark" style=" border:3px solid #493ea2;height:50px;font-size:18px;" name="name" #fName="ngModel" ngModel required pattern="[a-zA-Z ]*">
                                  <div class="alert alert-danger" *ngIf="fName.errors?.['required'] && fName.touched">
                                    this input Name is required
                                  </div>
                                  <div class="alert alert-danger" *ngIf="fName.errors?.['pattern'] && fName.touched">
                                    Only Characters
                                  </div>
                                </div>



                                <div class="col-md-4">
                                  <label for="validationServer02" class="form-label font-weight-bold" style="font-size:20px;">Score</label>
                                  <input type="number" class="form-control " id="validationServer02" value="Otto"  style=" border:3px solid #493ea2;height:50px;font-size:18px;" name="score" #fScore="ngModel" ngModel required min="0" max="100">
                                  <div class="alert alert-danger" *ngIf="fScore.errors?.['required'] && fScore.touched">
                                    this input Score is required
                                  </div>
                                  <div class="alert alert-danger" *ngIf="fScore.errors?.['min'] && fScore.touched">
                                    Minimum score is 0
                                  </div>
                                  <div class="alert alert-danger" *ngIf="fScore.errors?.['max'] && fScore.touched">
                                    Maximum score is 100
                                  </div>
                                </div>



                          
                                <div class="col-md-6">
                                  <label for="validationServer03" class="form-label font-weight-bold" style="font-size:20px;">Responsable</label>
                                  <select class="form-select " id="validationServer04" aria-describedby="validationServer04Feedback"  style=" border:3px solid #493ea2;height:50px;font-size:18px;" name="responsable" #fResponsable="ngModel" ngModel required>
                                    <option selected disabled value="">Choose...</option>
                                    <option>...</option>
                                  </select>
                                  <div id="validationServer03Feedback" class="alert alert-danger" *ngIf="fResponsable.errors?.['required'] && fResponsable.touched">
                                    this input Responsable is required
                                  </div>
                                </div>


                                <div class="col-md-3">
                                  <label for="validationServer04" class="form-label font-weight-bold" style="font-size:20px;">Niveau</label>
                                  <select class="form-select " id="validationServer04" aria-describedby="validationServer04Feedback"  style=" border:3px solid #493ea2;height:50px;font-size:18px;" name="niveau" #fNiveau="ngModel" ngModel required>
                                    <option selected disabled value="">Choose...</option>
                                    <option>JUNIOR</option>
                                    <option>SENIOR</option>
                                    <option>EXPERT</option>
                                  </select>
                                  <div id="validationServer04Feedback" class="alert alert-danger" *ngIf="fNiveau.errors?.['required'] && fNiveau.touched">
                                    this input Niveau is required
                                  </div>
                                </div>


                                


                                
                                <div class="col-12">
                                  <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit form</button>
                                </div>
                              </form>
                            </section>
       
                        </div>
                        </div>
</div>
</section>



