<header id="portfolio" class="w3-content " style="max-width:1600px; margin-top:80px">
    <div class="w3-container ">
        <h1  class="style-4 menu-4">Membres Equipe</h1>
    <div class="w3-section w3-bottombar ">
    </div>
    </div>
  </header>
  <body>
    
    <div class="container-fluid" style="max-width: 1500px; background-color: white;">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8 "><h2>Customer <b>Details</b></h2></div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>
               <app-table-etudiant [listEtudiant]="equipe.etudiants"></app-table-etudiant>
            </div>
        </div>  
    </div> 
    
    </body>
